.header{
    margin: 1rem 0;
    margin-bottom: 4rem;
    line-height: 2rem;
}
.header-intro{
    line-height: 3.5rem;
    font-size: 35px;
    padding: 2rem 0;
    font-weight: normal;
   
}
h1, h2, h3, h4, h5, a, li{
    font-family: montserrat;
    color: white;
} 
/* div{
    border: 1px solid white;
} */
.link{
    color: white;
    display: block;
}
a.link:hover{
    color: black;
}
.sm{
    color: white;
    margin-left:8px;  
}
.nav-link {
    color: white !important;
}
.sidebar{
    background-color: rgb(140, 25, 25, 0.85);
    opacity: 85%;
    min-height:100%
}
.bgimg{
    overflow: hidden;
    background-image: url("./assets/leaf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;  
}
.avatar{
width: 80px;
border: 1px solid  #AF2222;
display: block;
opacity: none;
}
.btnhome{
    background-color:#8c1919;
    color: white; 
    border-style: none;
    margin: 0 20px;
    margin-top: 20px;
    padding: 5px 25px;
    border-radius: 10px;
}
.btnhome:hover{
    
    transform: scale(1.50);
    transition: .5s ease
   
}
.contentblock{
    margin-top: 5rem;
}
.introcls{
    color:white;
    font-size: 30px
}
.boldtxt{
    font-weight: bold;
}
.boldtxt:hover{
    color:#8c1919;
}
.skilltxt{
    font-size:20px;
    
}
.headerpl{
    margin-top: 3rem;
}
.quicklink{
    color: white;
}
a.quicklink:hover{
    text-decoration: none;
    font-weight: bold;  
    color: white; 
}
.bgcolor{
    background: black;
    opacity: 60%;
    margin-bottom: 10px;

}
/* div{
    border: 1px solid white;
} */
@media screen and (max-width: 900px) { 
    /* body{
        color: maroon;
    } */
    .bgimg{
        overflow: hidden;
        background-image: url("./assets/leaf768.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100%;  
        
    }
    .sidebar{
        background-color: transparent;
        min-height:30%
    }
    .thebg{
        background-color: rgb(140, 25, 25, 0.85);
        opacity: 85%
    }
    .mynav{
        display: none;
    }
    .contentblock{
        margin-top: 0rem;
    }
    h1{
        text-align:center;
    }
    .introcls{
        text-align:center;
    }
    .btnmedia{
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
    .mediadisplay{
        display:none
    }
    .quicklink{
        color: white;
    }
    a.quicklink:hover{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
  } 